<p id="notice"><%= notice %></p>

<p>
  <strong>Services:</strong>
  <%= @profile.services %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @profile.img_url %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
