<h1>Home Page</h1>

<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places" %>

<%= form_tag(services_location_path, method: "get", class: "form-inline") do %>
    <div class="form-group">
      <%= label_tag(:locationTextField, "Location") %>
      <%= text_field_tag :locationTextField, "", class: 'form-control', placeholder: 'hehe' %>
    </div>
    <div class="form-group ">
      <%= text_field_tag :searchInput, "", class: 'form-control', placeholder: 'Search for...' %>
      <%= submit_tag("Search", class: 'form-control') %>
    </div>
<% end %>


<script>
  var placeSearch, autocomplete;

  $(document).ready(init());
  // Handler for .ready() called
  function init() {
    var input = document.getElementById('locationTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);

    google.maps.event.addDomListener(window, 'load', init);
  }

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('locationTextField')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', fillInAddress);
  }

  function fillInAddress() {
    // Get the place details from the autocomplete object.
    var place = autocomplete.getPlace();
    console.log(place);
  }

</script>
