<h1>Show profile</h1>
<div class="row col-md-6">
<%= image_tag(Faker::Avatar.image) %>

<h3><%= @service.name %></h3>
<h4><%= @service.service_type %></h4>
<h4>Service description: <%= @service.description %></h4>
<h4>Price: <%= @service.price %></h4>
<h4>Working hours: <%= @service.availability %></h4>



  <h2>Reviews</h2>
  <p><span class="badge"><%=@reviews.size %></span> Reviews:</p><br>

  <% if !@reviews.nil? %>
  <% @reviews.each do |review| %>

      <%= image_tag(review.image_url, class: "pull-left img-rounded") %>
      <h4><%= review.title %></h4>
      <p><%= review.description %></p>
    <% end %>
  <% end %>
  <br>
  <h4>Leave a Comment:</h4>
  <%= form_tag(method: "post") do %>
      <div class="form-group">
        <%= text_area(:post, :body,  rows: 3, required:true ,class:"form-control") %>
      </div>
      <%= submit_tag("submit", class: 'btn btn-success') %>
  <% end %>
  <br><br>
</div>
<div id="map"></div>

  <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
  <% if @service.phone_number.nil? && !@user.phone.nil? %>
      <%= @user.phone %>
  <% elsif !@service.phone_number.nil? && !@user.phone.nil? %>
      <%= @service.phone_number %>
  <% elsif @service.phone_number.nil? && @user.phone.nil? %>
      <p>No contact number</p>
  <% else %>
      <%= @service.phone_number %>
  <% end %>


  <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
  <% if @service.email.nil? && !@user.email.nil? %>
      <%= @user.email %>
  <% elsif !@service.email.nil? && !@user.email.nil? %>
      <%= @service.email %>
  <% elsif @service.email.nil? && @user.email.nil? %>
      <p>No contact number</p>
  <% else %>
      <%= @service.email %>
  <% end %>



<%= form_tag(method: "get", class: "form-inline") do %>
    <div class="form-group">
      <%= label_tag(:locationTextField, "Location") %>
      <%= text_field_tag :locationTextField, "", class: 'form-control', placeholder: 'hehe' %>
    </div>
    <div class="form-group ">
      <%= text_field_tag :searchInput, "", class: 'form-control', placeholder: 'Search for...' %>
      <%= submit_tag("Search", class: 'form-control') %>
    </div>
<% end %>

<script>

  function initMap() {
    var myLatLng = {lat: <%= @service.latitude %>, lng: <%= @service.longitude %>};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBnG1nz-0s--EBdSX-o9q3ntkxkQDCKVc&callback=initMap">
</script>